DATABASE_URL="postgresql://postgres:neuro123@localhost:5432/paralelo14?schema=public"
JWT_SECRET="paralelo14_jwt_secret_2026_backend_java_123456789"
RABBITMQ_URL="amqp://admin:admin@localhost:5672"
PORT=3001
WS_PORT=3002
